<section class="checkout_area">
  <div class="container">
    <div class="row">
      <form ngNativeValidate>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div class="checkout_left">
            <h2>Shiiping Address</h2>
            <div class="dotted_line"></div>

            <div class="shipping_form">
              <div class="country_select country_select2">
                <p>Country</p>
                <select class="selectpicker sel_state">
                  <option>Earth/Taiwan</option>
                  <option>Mars/Taiwan</option>
                </select>
              </div>

              <div class="c_name_box">
                <div class="c_name_box_left">
                  <p>Name <span>*</span></p>
                  <input #name="ngModel" type="text" [(ngModel)]="member.order_name" name="name" required />
                </div>
                <!--
                  <div class="c_name_box_right">
                    <p>Last Name <span>*</span></p>
                    <input type="text">
                  </div>
                -->
              </div>
              <!--
                <div class="company_name">
                  <p>Company Name <span>*</span></p>
                  <input type="text">
                </div>
              -->
              <div class="c_address">
                <p>Address <span>*</span></p>
                <input #address="ngModel" type="text" placeholder="Street Address" [(ngModel)]="member.order_address" name="address" required />
              </div>
              <div class="s_town">
                <p>Phone <span>*</span></p>
                <input #phone="ngModel" type="text" placeholder="Phone" [(ngModel)]="member.order_phone" name="phone" required />
              </div>
              <div class="s_order">
                <p>Order Notes <span>*</span></p>
                <textarea cols="30" rows="10" [(ngModel)]="member.order_note" name="note"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="checkout_right">
            <h4>Review of Your Order</h4>

            <div class="product_form_total">
              <div class="c_main_item">
                <p>Product</p>
                <span>Total</span>
              </div>
              <ng-container *ngFor="let item of carts">
                <div class="c_single_item">
                  <p>{{ item.product_name }}</p>
                  <span>${{ item.quantity * item.price }}</span>
                  <p>x {{ item.quantity }}</p>
                </div>
              </ng-container>

              <div class="c_total_item sp_single_item">
                <p>Total Price</p>
                <span>${{ getCartprice() }}</span>
              </div>

              <!--
                <div class="c_payment">
                  <p>Select Payment Method</p>
                  <select class="selectpicker sel_state">
                    <option>Direct Bank Transfer</option>
                    <option>Wire Transfer</option>
                    <option>VISA</option>
                  </select>
                </div>
              -->
              <div class="checkbox">
                <label> <input #checked="ngModel" [(ngModel)]="check" type="checkbox" name="check" required /> I have Read & Accept <span>Terms & Conditions</span> </label>
              </div>

              <ng-container *ngIf="name.valid && address.valid && phone.valid && checked.value; else: noValid"> <input type="submit" (click)="checkout()" value="Place order now" /> </ng-container>
              <ng-template #noValid> <input type="submit" value="Place order now" /> </ng-template>
              <!-- Coupon -->
              <div class="coupon_box">
                <input type="text" placeholder="COUPON CODE" [(ngModel)]="couponCode.code" name="Coupon" [disabled]="IsDP"/> <input type="button" value="apply coupon" (click)="applyCoupon(couponCode.code)" />
              </div>

              <ng-container *ngIf="IsDP && discount == 0.9"> <span style="color: red;font-size: 10pt">10% OFF !!</span> </ng-container>
              <ng-container *ngIf="IsDP && discount === 0.8"> <span style="color: red;font-size: 10pt">20% OFF !!</span> </ng-container>
              <ng-container *ngIf="IsDP && discount === 0.7"> <span style="color: red;font-size: 10pt">30% OFF !!</span> </ng-container>
              <ng-container *ngIf="!IsDP && IsClick"> <span style="color: red;font-size: 10pt">Coupon Not Exist !!</span> </ng-container>
              <!-- Coupon -->
            </div>
          </div>
        </div>
      </form>
      <!-- <br /> -->
      <!--
        <input type="text" placeholder="Coupon code" [(ngModel)]="couponCode.code">
        <input type="submit" (click)="applyCoupon()" value="Apply" />
      -->
    </div>
  </div>
</section>
