<section class="breadcumb_top_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="bread_top_box">
          <h2>John 99</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="breadcumb_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="bread_box">
          <ul class="breadcumb">
            <li routerLinkActive=""><a [routerLink]="['']">home <span>|</span></a></li>
            <li><a [routerLink]="['./category1']">Shop <span>|</span></a></li>
            <li><a [routerLink]="['./category2']">Category <span>|</span></a></li>
            <li class="active"><a href="">{{ Type }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="filter_area">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-8 col-xs-12">
        <div class="filter_box_left">
          <p>FILTERING:</p>
          <div class="filter_cont">
            <ul>
              <li><a [routerLink]="['/category1']">on</a></li>
              <li><img src="../../assets/images/filter_ico.png" alt="" /></li>
              <li><a [routerLink]="['/category2']">off</a></li>
            </ul>
          </div>
          <div class="s_results">
            <p><span>|</span> showing 1-12 of 30 results</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-4 col-xs-12">
        <div class="filter_box_right">
          <a class="dropdown-toggle" data-toggle="dropdown" [routerLink]="['/cart']">sort by newness <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/cart']">Top Seller </a></li>
            <li><a [routerLink]="['/cart']">Most Popular</a></li>
            <li><a [routerLink]="['/cart']">Alphabetically</a></li>
            <li><a [routerLink]="['/cart']">Older First</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="main_category_area">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="main_category_left">

          <div class="panel-group" id="home-accordion" role="tablist" aria-multiselectable="true">

            <!--BEER------------------------>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#home-accordion" href="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    BEER
                    <span class="floatright"><i class="fa fa-minus"></i></span>
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <ul id="c_tab1">
                    <li (click)="search('Ale')"><a>Ale ({{getNum(0)}})</a></li>
                    <li><a (click)="search('Lager')">Lager ({{getNum(1)}})</a></li>
                    <li><a (click)="search('Lambic')">Lambic ({{getNum(2)}})</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!------------------------------>
            <!--SPIRIT---------------------->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#home-accordion" href="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    SPIRIT
                    <span class="floatright"><i class="fa fa-minus"></i></span>
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <ul id="c_tab1">
                    <li><a (click)="search('Brandy')">Brandy ({{getNum(3)}})</a></li>
                    <li><a (click)="search('Whisky')">Whisky ({{getNum(4)}})</a></li>
                    <li><a (click)="search('Rum')">Rum ({{getNum(5)}})</a></li>
                    <li><a (click)="search('Mezcal')">Mezcal ({{getNum(6)}})</a></li>
                    <li><a (click)="search('Gin')">Gin ({{getNum(7)}})</a></li>
                    <li><a (click)="search('Vodka')">Vodka ({{getNum(8)}})</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!------------------------------>
            <!--WINE---------------------->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#home-accordion" href="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    WINE
                    <span class="floatright"><i class="fa fa-minus"></i></span>
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <ul id="c_tab1">
                    <li><a (click)="search('Sauvignon Blanc')">Sauvignon Blanc ({{getNum(9)}})</a></li>
                    <li><a (click)="search('Riesling')">Riesling ({{getNum(10)}})</a></li>
                    <li><a (click)="search('Cabernet Sauvignon')">Cabernet Sauvignon({{getNum(11)}})</a></li>
                    <li><a (click)="search('Merlet')">Merlet({{getNum(12)}})</a></li>
                    <li><a (click)="search('Pinot Noir')">Pinot Noir ({{getNum(13)}})</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!------------------------------>

            <!--PRICE-->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#home-accordion" href="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    PRICE FILTER
                    <span class="floatright"><i class="fa fa-plus"></i></span>
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <div id="slider-range"></div>
                  <div class="cat_filter_box">
                    <p>
                      <label for="amount" (onclick)="filterPrice()">Filter</label>
                      <input type="text" id="amount" readonly style="border:0; color:#000; font-weight:bold;">
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!---->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#home-accordion" href="#collapseFive"
                    aria-expanded="false" aria-controls="collapseFive">
                    Brands
                    <span class="floatright"><i class="fa fa-plus"></i></span>
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                  <ul id="c_tab2">
                    <li><a href="">to be continue...</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingEight">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#home-accordion" href="#collapseEight"
                    aria-expanded="false" aria-controls="collapseEight">
                    Best Seller
                    <span class="floatright"><i class="fa fa-plus"></i></span>
                  </a>
                </h4>
              </div>
              <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                <div class="panel-body">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--商品列ㄅ-->

      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="main_category_right">
          <div class="row">
            <!---------商品的------------->
            <ng-container *ngFor="let item of products | slice: showNumb :showNume;let index = index">
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="main_cat_item">
                    <div class="item">
                      <div class="item-img">
                        <img [src]="item.Image" alt="" />
                        <div class="tr-add-cart">
                          <ul>
                            <li><a  class="fa fa-shopping-cart tr_cart" [routerLink]="['/cart']"></a></li>
                            <li><a href="javascript: void(0)" (onclick) = addCart(item)  class="tr_text">ADD TO CART</a></li>
                            <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                            <li><a class="fa fa-search tr_search" href="product-detail.html"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="item-new" *ngIf="item.isSeling">
                        <p>New</p>
                        <span>123132</span>
                      </div>
                      <div class="item-sub">
                        <a href="product-detail.html"><h5>{{item.name}}</h5></a>
                        <p>$ {{item.listprice }} <span><ng-container *ngIf="item.isSeling"><del>$ {{item.saleprice}}</del></ng-container></span></p>
                      </div>
                    </div>
                  </div>
                </div>
            </ng-container>

          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="pagi_line"></div>
              <div class="pagi_ul">
                <ul id="pagination">
                  <li><a href="">Previous</a></li>
                  <li><a href="">1</a></li>
                  <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><a href="">4</a></li>
                  <li><a href="">5 ...</a></li>
                  <li><a href="">Next</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
