<section class="blog_page_area">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="single_blog_in_page">
          <h1>John 99 : The best Liquor Distributor</h1>
          <div class="blog_img_l"><img src="../../assets/images/about.png" alt="" /></div>
          <div class="blog_date_in_page">
            <h2>_ <span>January</span></h2>
            <p>1999</p>
          </div>
          <div class="blog_text_in_page">
            <a href="single-blog.html"><h3>The History of John 99</h3></a>
            <p>
              人生短短幾個秋～呀 <br />
              不醉不罷休～～<br />
              東邊兒我的美人～哪 <br />
              西邊兒黃河流～～<br />
              來呀來個酒啊～ <br />
              不醉不罷休～～<br />
              愁情煩事別放～心頭
            </p>
            <div class="read_more"><a class="read_more_blog" [routerLink]="['/']">Home</a></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- <div class="pagi_line"></div> -->
            <div class="pagi_ul">
              <ul id="pagination">
                <li><a href="">1</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="blog_page_sidebar">
          <div class="contact_box_left">
            <h4>Leave A message</h4>
            <div class="multi_line"></div>
          </div>

          <div class="blog_widget">
            <div class="input_form">
              <form name="fForm" ngNativeValidate>
                <!-- <div class="input_left"> -->
                <input [(ngModel)]="suggestion.name" type="text" placeholder="Name *" required name="name" #name="ngModel" />
                <input [(ngModel)]="suggestion.email" type="email" placeholder="Your Email *" required name="email" #email="ngModel" email/>

                <!-- <input #ea="ngModel" [(ngModel)]="test" required type="email" placeholder="Enter Email" name="Email" /> -->
                <!-- </div> -->
                <!-- <div class="input_right"> -->
                <textarea [(ngModel)]="suggestion.text" name="text" placeholder="Message" required #text="ngModel"></textarea>
                <!-- </div> -->
                <ng-container *ngIf="(!name.valid || !email.valid || !text.valid)">
                  <div class="submit_btn form-group submitRow">
                    <button type="submit" value="Submit form" class="button button1 disabled">Submit form</button>
                  </div>
                </ng-container>
                <ng-container *ngIf="(name.valid && email.valid && text.valid)">
                  <button type="submit" name="submit" value="Submit form" (click)="sendSuggestion()" class="button button1">Submit form</button>
                </ng-container>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
