<!-- Custom Theme files -->
<!-- theme-style -->
<!-- <link href="/src/assets/css/stylef.css" rel="stylesheet" type="text/css" media="all" /> -->
<!-- //theme-style -->

<div class="check-out">
  <!-- <div class="container"> -->
    <!-- <div class="bs-example4" data-example-id="simple-responsive-table"> -->
      <!-- <div class="table-responsive"> -->
        <div class="container">
          <div class="panel-group" id="accordion">
            <!-- <div class="panel panel-default"> -->

            <table class="table-heading simpleCart_shelfItem">
              <tr>
                <th>Index</th>
                <th>Order Name / Note</th>
                <th>Phone</th>
                <th>Status</th>
                <th>Date</th>
              </tr>

              <ng-container *ngFor="let sale of sales; let index = index">
                <br />
                
                <tr >
                  <td>{{ index + 1 }}.</td>
                  <td>
                    <!-- class="ring-in" -->
                    <div class="sed">
                      <h5>
                        <a>{{ sale.order_name }}</a>
                      </h5>
                      <p>{{ sale.order_address }}</p>
                    </div>
                  </td>
                  <td>{{ sale.order_phone }}</td>
                  <ng-container *ngIf="sale.shipment" > <td style="color:rgb(36, 187, 36)">Shipping</td> </ng-container>
                  <ng-container *ngIf="!sale.shipment" > <td style="color:rgb(238, 45, 45)">Still Dealling with</td> </ng-container>

                  <td class="item_price">{{ sale.order_date }}</td>
                  <!-- <div class="panel-heading"> -->
                  <!-- <div class="panel-title"> -->
                  <td class="add-check"><a class="hvr-skew-backward" data-toggle="collapse" data-parent="#accordion" href="#{{index}}"> More Detail </a></td>
                  <!-- (click)="click()" -->
                  <!-- </div> -->
                  <!-- </div> -->
                </tr>

                <td></td>
                <!-- <td></td> -->
                <!-- <td><td> -->

                <!-- <div id="{{index}}" class="panel-collapse collapse"></div> -->
                <div id="{{index}}" class="panel-collapse collapse">
                  <!-- <div class="panel-body"> -->
                  <!-- <small [hidden]="IsClick"> -->
                  
                  <div class="dotted_line"></div>
                  <tr>
                      <!-- <td></td> -->
                    <td style="color:darkslategrey">Product Name</td>
                    <td style="color:darkslategrey">Quantity</td>
                    <td style="color:darkslategrey">Sale Price</td>
                    <td style="color:darkslategrey">Total Price</td>
                  
                  </tr>
                  
                  <!-- <div id="{{index}}" class="panel-collapse collapse"> -->
                  <ng-container *ngFor="let item of this.saleServie.saleItem[index];let first = first;">
                    <tr [routerLink]="['/post',item.id]" routerLinkActive="router-link-active" class="linkk" >
                      <td>
                        <p style="color: rgb(74, 144, 144)">{{ item.product_name }}</p>
                      </td>
                      <td>
                        <p style="color: rgb(74, 144, 144)">{{ item.quantity }}</p>
                      </td>
                      <td>
                        <p style="color: rgb(74, 144, 144)">{{ item.sale_price }}</p>
                      </td>
                      <td>
                          <p [hidden]="!first" style="color: rgb(74, 144, 144)">{{ sale.totalprice }}</p>
                      </td>
                      <td><p></p></td>
                    </tr>
                    
                  </ng-container>
                  <br />
                  <!-- </small> -->
                  <!-- </div> -->
                </div>
              </ng-container>
            </table>

            <!-- </div> -->
            <!-- </div> -->
          <!-- </div> -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
    </div>

    <br /><br /><br /><br />
    <!-- <div class="produced"><a (click)="click()" class="hvr-skew-backward">Show Detail</a></div> -->
    <br /><br /><br /><br />
    <br /><br /><br /><br />
  </div>
</div>

<!--
  <tr class="cart-header1">
  	<td class="ring-in"><a href="single.html" class="at-in"><img src="/src/assets/images/ch.jpg" class="img-responsive" alt=""></a>
  	  <div class="sed">
  		  <h5><a href="single.html">Sed ut perspiciatis unde</a></h5>
  		  <p>(At vero eos et accusamus et iusto odio dignissimos ducimus ) </p>
  	  </div>
  	  <div class="clearfix"> </div>

  	  <td>$100.00</td>
  	  <td>FREE SHIPPING</td>
  	  <td class="item_price">$100.00</td>
  	  <td class="add-check"><a class="item_add hvr-skew-backward" href="#">More Detail</a></td>
  	</tr>
  	<tr class="cart-header2">
  	<td class="ring-in"><a href="single.html" class="at-in"><img src="/src/assets/images/ch.jpg" class="img-responsive" alt=""></a>
  	  <div class="sed">
  		  <h5><a href="single.html">Sed ut perspiciatis unde</a></h5>
  		  <p>(At vero eos et accusamus et iusto odio dignissimos ducimus ) </p>
  	  </div>
  	  <div class="clearfix"> </div>

  	  <td>$100.00</td>
  	  <td>FREE SHIPPING</td>
  	  <td class="item_price">$100.00</td>
  	  <td class="add-check"><a class="item_add hvr-skew-backward" href="#">More Detail</a></td>
  	</tr>
-->
