.cart_heading {
  padding: 15px 5px;
}
.cart_heading {
  background: none repeat scroll 0 0 #f2f3f4;
  overflow: hidden;
  padding: 15px 20px;
}
.cart_heading .h_item1 {
  float: left;
  width: 41%;
}
.cart_heading .h_item2 {
  float: left;
  width: 18%;
}
.cart_heading .h_item3 {
  float: left;
  width: 24%;
}
.cart_heading .h_item4 {
  float: left;
  width: 17%;
}
