<section class="breadcumb_top_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="bread_top_box">
          <h2>Jonh 99</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="breadcumb_area">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="bread_box">
            <ul class="breadcumb">
              <li><a [routerLink]="['']">home <span>|</span></a></li>
              <li><a [routerLink]="['/category2']">Shop <span>|</span></a></li>
              <li><a [routerLink]="['/category1']">Category <span>|</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="filter_area">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-8 col-xs-12">
        <div class="filter_box_left">
          <p>FILTERING:</p>
          <div class="filter_cont">
            <ul>
              <li><a [routerLink]="['/category1']">on</a></li>
              <li><img src="../../assets/images/filter_ico_off.png" alt="" /></li>
              <li><a [routerLink]="['/category2']">off</a></li>
            </ul>
          </div>
          <div class="s_results">
            <p><span>|</span> showing {{ products.length === 0?(0):(showNumb) }}-{{showNume>products.length?(products.length):(showNume)}} of {{products.length}} results</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-4 col-xs-12">
        <div class="filter_box_right">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">sort by newness <span class="caret"></span></a>
            <ul class="dropdown-menu">
            <li><a href="#">Category 1-1</a></li>
            <li><a href="#">Category 1-2</a></li>
            <li><a href="#">Category 1-3</a></li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="main_category_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="main_category_right cat-2">
          <div class="row">
            <!--商品描述-->
            <ng-container *ngFor="let item of products | slice: showNumb-1 :showNume;let index = index">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="main_cat_item">
                  <div class="item">
                    <div class="item-img">
                      <img [src]='getImage(item.imagename)' alt="" />
                      <div class="tr-add-cart">
                        <ul>
                          <li><a  class="fa fa-shopping-cart tr_cart" [routerLink]="['/cart']"></a></li>
                          <li><a href="javascript: void(0)"  class="tr_text">ADD TO CART</a></li>
                          <li><a class="fa fa-heart tr_heart" href="#"></a></li>
                          <li><a class="fa fa-filter tr_filter"  [routerLink]="['/post', item.id]"></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="item-new" *ngIf="item.isSeling">
                      <p>New</p>
                      <span>123132</span>
                    </div>
                    <div class="item-sub">
                      <a  [routerLink]="['/post', item.id]"><h5>{{item.name}}</h5></a>
                      <p>$ {{item.listprice }} <span><ng-container *ngIf="item.isSelling"><del>$ {{item.saleprice}}</del></ng-container></span></p>
                    </div>
                  </div>
                </div>
              </div>
          </ng-container>

          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="pagi_ul">
                <ul id="pagination">
                  <li><a [routerLink]="['.']" (click)="Previous()" >Previous</a></li>
                  <li><a [routerLink]="['.']"  (click)="page(1,12)">1</a></li>
                  <li><a [routerLink]="['.']"  (click)="page(13,24)">2</a></li>
                  <li><a [routerLink]="['.']"  (click)="page(25,36)">3</a></li>
                  <li><a [routerLink]="['.']"  (click)="page(37,48)">4</a></li>
                  <li><a [routerLink]="['.']"  (click)="page(49,60)">5</a></li>
                  <li><a [routerLink]="['.']"  (click)="Next()" >Next</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
