
<div class="container">
  <form name="LoginForm">
    <div class="row">
      <h2 style="text-align:center">Enter Your Email</h2>

      <div class="col">
        <div class="hide-md-lg">
          <p>Enter your email:</p>
        </div>
        <input  type="email" name="username" placeholder="Email" [(ngModel)]="data.email" required style="text-align: center;">
        <input  type="submit" value="Send Resetmail" (click)="reset()" style="text-align: center;">
      </div>

    </div>
  </form>
</div>

<div class="bottom-container">
  <div class="row">
    <div class="col">
      <a [routerLink]="['/register']" routerLinkActive="router-link-active" style="color:white" class="btn">Sign up</a>
    </div>
    <!-- <div class="col">
      <a href="#" style="color:white" class="btn">Forgot password?</a>
    </div> -->
  </div>
</div>
